In [1]:
# Vorbereitungen
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

In [2]:
# Datensatz einlesen
df = pd.read_csv('datasets/data_six.csv')

In [3]:
# Univariate Statistik
df.describe()

              X1         X2          Y
count  31.000000  31.000000  31.000000
mean   13.248387  76.000000  30.170968
std     3.138139   6.371813  16.437846
min     8.300000  63.000000  10.200000
25%    11.050000  72.000000  19.400000
50%    12.900000  76.000000  24.200000
75%    15.250000  80.000000  37.300000
max    20.600000  87.000000  77.000000

In [4]:
# z-Transformation der ersten unabhängigen Variable
x = df.iloc[:,[0]]
scaled_x = scale.fit_transform(x)

In [5]:
# Mittelwert der standardisierten Variable
mean_scaled_x = np.mean(scaled_x)
round(mean_scaled_x)

0

In [6]:
# Standardabweichung der standardisierten Variable
sd_scaled_x = np.std(scaled_x)
round(sd_scaled_x)

1

In [7]:
# Zweiten unabhängige Variable

##############################
### SIEHE AUFGABENSTELLUNG ###
##############################

In [8]:
# Abhängige Variable

##############################
### SIEHE AUFGABENSTELLUNG ###
##############################